//MODAL
#contact_modal {
  display: none;
}

.contact_modal {
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
  width: 100%;
  min-height: 812px;
  z-index: 11;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;

  header {
    justify-content: space-between;
    width: 100%;

    img {
      cursor: pointer;
    }

    h2 {
      font-size: 64px;
      font-weight: normal;
      text-align: center;
    }
  }
}
