//MODAL
.modal header {
    justify-content: space-between;
    width: 100%;

     img {
     cursor: pointer;
    }

    h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    }
}