//PHOTOGRAPHERS
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_card{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

  &_img {
    border-radius: 100%;
    box-shadow: 0 8px 16px 0px;
    margin-right: 40px;
  }

  h2 {
    color: $secondary-color;
    font-size: 50px;
    font-weight: 400;
    margin: 0 0 10px 0;
  }

  h3 {
    color: $primary-color;
    margin: 0;
  }
}

.photographer {
  &_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;

    article {
      justify-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        color: $secondary-color;
        font-size: 36px;
      }

      img {
        height: 200px;
        width: 200px;
      }
    }
  }
}